<div class="row">
  <div class="col bg-danger">
    <img src="/assets/imgs/fungi.png" height="150" style="float:left;" class="p-2"> <br><br>
    <h1 style="float:left;" class="text-muted ml-3"><a class="text-body" href="#" [routerLink]="['/home']">Home</a>&nbsp;&nbsp;&nbsp; <a class="ml-5 text-body" href="#" [routerLink]="['/animalia']">Animalia</a>&nbsp;&nbsp;&nbsp; <a class="ml-5 mr-5 text-body" href="#" [routerLink]="['/plantae']">Plantae</a>&nbsp;&nbsp;&nbsp;Fungi</h1>
  </div>
</div>

<!--   ^^^ NAVBAR ^^^    -->

<div class="container-fluid">
  <br><br>
  <p class="bg-white p-3">In questa sezione è possibile visualizzare i dati in forma di grafici a barre o a torta, divisi in funghi a rischio, funghi gravemente a rischio, funghi vulnerabili e funghi estinti totali</p>
  <div class="row">

    <div class="col">
      <select [(ngModel)]="selectedOption">
        <option *ngFor="let o of options1">
            {{o.name}}
        </option>
      </select>
      &nbsp;
      <select [(ngModel)]="chartType">
        <option *ngFor="let o of options2">
            {{o.name}}
        </option>
      </select>

      <button (click)="submit()" type="button" class="btn btn-primary ml-2">Search</button>

      <google-chart *ngIf="chartData.length>0" [options]="options" [type]="chartTypee" [data]="chartData" [width]="width" [height]="height"></google-chart>

    </div>

  </div>

</div>
